@import './_variables';
$width_absolute_element: 75%;
$height_absolute_element: 80%;

@mixin absolute_element($orientation: "right", $width: $width_absolute_element, $height: $height_absolute_element) {
    z-index: -1;
    content: "";
    position: absolute;
    bottom: 0;
    #{$orientation}: 0;
    @if($orientation == "right"){
        border-top-left-radius: 150px;
        border-bottom-left-radius: 150px;
    } @else if($orientation == "left") {
        border-top-right-radius: 150px;
        border-bottom-right-radius: 150px;
    }
    width: $width;
    height: $height;
    background-color: $soft_blue;
}

@mixin text($color: #fff, $size: 1rem, $font_weight: 500, $line_height: 1, $align: center) {
    color: $color;
    font-size: $size;
    font-weight: $font_weight;
    line-height: $line_height;
    text-align: $align;
}

@mixin button($background_color: #333, $radius: 8px, $color: #fff, $font_size: 1rem, $padding: 1rem 2rem) {
    display: block;
    background-color: $background_color;
    border: 2px solid $background_color;
    border-radius: $radius;
    color: $color;
    font-size: $font_size;
    padding: $padding;
    transition: all ease-in-out .3s;
    cursor: pointer;
}