@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

// VALUES
@import "_mixins";

* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;

    -webkit-tap-highlight-color: transparent;
    outline: none;
}


html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}

main {
    position: relative;

    menu {
        --size: 3rem;
        --radius: 6rem;
        --padding: 1rem;
        --bg-color: #fff;
        --fg-color: rgba(0, 0, 0, 0.7);
        --hi-color: #3e00ff;
        
        position: fixed;
        bottom: var(--padding);
        right: var(--padding);
      }
      
      menu > * {
        position: absolute;
        
        display: grid;
        place-content: center;
        
        border-radius: 50%;
        
        background: var(--bg-color);
        color: var(--fg-color);
        
        text-decoration: none;
    
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none;
        
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.6);
      }
      
      menu > .action {
        --factor: 0;
        
        width: 3rem;
        height: 3rem;
        right: calc(0.35 * var(--size));
        bottom: calc(0.35 * var(--size));
        opacity: 0;
        
        transform: rotate(calc(-1 * var(--angle))) translateY(calc(-1 * var(--radius) * var(--factor))) rotate(var(--angle));
        
        transition: transform 250ms ease-in-out, opacity 250ms ease-in-out, box-shadow 250ms ease-in-out, color 250ms ease-in-out;
      }
      
      menu > .action:hover, menu > .trigger:hover {
        color: var(--hi-color);
        box-shadow: 0px 0px 0px 0.35rem rgba(0, 0, 0, 0.2);
      }
      
      menu.open > .action {
        --factor: 1.2;
        opacity: 1;
      }
      
      menu > .action:nth-child(1) {
        --angle: 0deg;
        transition-delay: 0ms;
      }
      
      menu > .action:nth-child(2) {
        --angle: 30deg;
        transition-delay: 50ms;
      }
      
      menu > .action:nth-child(3) {
        --angle: 60deg;
        transition-delay: 100ms;
      }
      
      menu > .action:nth-child(4) {
        --angle: 90deg;
        transition-delay: 150ms;
      }
    
      menu > .action > i {
        font-size: 1rem;
      }
      
      menu > .trigger {
        width: calc(1.6 * var(--size));
        height: calc(1.6 * var(--size));
        bottom: 0;
        right: 20px;
        
        background-image: url("../../images/logo-w512.png");
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: 50% 50%;
        cursor: pointer;
        transition: transform 250ms ease-in-out, 
        box-shadow 250ms ease-in-out,
        color 250ms ease-in-out;
      }
      
      menu.open > .trigger {
        transform: rotate(-180deg);
      } 
}

@media screen and (max-width: 768px) {
  main {
    menu {
      --size: 2.5rem;
      --padding: 0rem;
      --radius: 5rem
    }
  
    menu > .action {
      width: 2.5rem;
      height: 2.5rem;
    }
  
    menu.open > .action {
      --factor: 1.2;
    }

    menu > .trigger {
      bottom: 10px;
      right: 10px;
    }
  }
}

#wrapper {
    display: flex;
}

@media screen and (min-width: 1000px) {
    /* width */
    ::-webkit-scrollbar {
        width: 15px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #e7e7e7; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $soft_blue;
        border-radius: 15px;
    }
}

@media screen and (min-width: 1440px) {
    .App {
        margin: auto;
        box-shadow: 0px 15px 15px 5px rgba(0, 0, 0, .1);
    }
}

