// VALUES
@import './mixins';
$width_hero_image: 90%;

#header {
    width: 100%;
    margin-bottom: 10rem;
    box-sizing: border-box;

    #menu_mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2.5rem 2rem 5rem;

    
        #menu_toggle {
            width: 20px;
            height: 15px;
            cursor: pointer;
        }

        #overlay {
            z-index: 3;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $dark_blue_menu;
        
            #content_mobile_menu {
                position: relative;
                width: 100%;
                height: 100%;
                padding: 2.7rem;
                overflow-y: scroll;

                display: grid;
                grid-template-rows: auto auto auto 1fr;

        
                #header_mobile_menu {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 2.7rem;
        
                    #logo {
                        width: 155px;
                    }
        
                    #close {
                        width: 18px;
                        cursor: pointer;
                    }
                }
        
        
                #navigation_mobile_menu {
                    #links_mobile_menu {
                        margin-bottom: 1.8rem;
            
                        .link_mobile_menu {
                            @include text(#fff, 1.5rem, 400, 3.5, center);
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            list-style-type: none;
                            border-top: 0.001rem solid $grayish_blue;
            
                            &:last-child {
                                border-bottom: 0.001rem solid $grayish_blue;
                            }
                        }
                    }
                }
        
                #button_mobile_menu {
                    @include button(transparent, 8px, #fff, 1.5rem, 1rem 0);
                    border: 2px solid #fff;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: 500;
                    width: 100%;
                }
        
                #container_social_medias {
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    width: 100%;
                    min-height: 125px;
        
                    .social_media {
                        padding: 1rem;
                    }
                }
            }
        
        }
    } // #menu_mobile

    #hero_section {

        #content_hero_section {
            display: flex;
            flex-direction: column;

            #container_hero_image {
                position: relative;
    
                #hero_image {
                    display: block;
                    margin: auto;
                }
    
                &::before {
                    @include absolute_element;
                }
            }
    
            #container_hero_description {
    
                #description_title {
                    @include text(#1C2141, 2rem, 600, 1.5, center);
                    margin-top: 3rem
                }
        
                #text {
                    @include text(#A6A6B2, 1rem, 400, 2, center);
                    width: 80%;
                    margin: auto;
                }
        
                #container_button {
                    display: flex;
                    justify-content: space-evenly;
                    margin-top: 2rem;
        
                    #chrome_button {
                        @include button($soft_blue, 8px, #fff, 1rem, 1rem 1rem);
    
                        &:hover {
                            background-color: transparent;
                            color: $soft_blue;
                            border-color: $soft_blue;
                        }
                    }
            
                    #firefox_button {
                        @include button(#F7F7F5, 8px, #656670, 1rem, 1rem 1rem);
                        box-shadow: 0px 15px 15px -6px rgba(0, 0, 0, .1);
    
                        &:hover {
                            background-color: transparent;
                            color: #5D5F6F;
                            border-color: #5D5F6F;
                        }
                    }
                }
            } // #container_hero_description
        }

        
    }
}

// DESKTOP
@media screen and (min-width: 1001px) {
    #header {
        #menu {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 3rem 6rem 6rem;
    
            #right_side {
                display: flex;
                align-items: center;
    
                #navigation_menu {
                    margin-right: 2rem;
    
                    #links_menu {
                        display: flex;
                        list-style-type: none;
    
                        .link_menu {
                            @include text($grayish_blue, .9rem, 400, 1, left);
                            text-transform: uppercase;
                            text-decoration: none;
                            letter-spacing: 1.8px;
                            padding: 0 1rem;
                            
                            li {
                                transition: all ease-in-out .3s;
    
                                &:hover {
                                    color: $soft_red;
                                }
                            }
                        }
                    }
                }
    
                #button_menu {
                    @include button($soft_red, 8px, #fff, 1rem, .7rem 2rem);
                    &:hover {
                        background-color: transparent;
                        color: $soft_red;
                        border-color: $soft_red;
                    }
                }
            }
        } // #menu

        #hero_section {
            position: relative;

            &::before {
                @include absolute_element(right, 37%)
            }

            #content_hero_section {
                flex-direction: row-reverse;
                justify-content: center;
                align-items: center;

                #container_hero_description {


                    #description_title {
                        width: 80%;
                        margin: 0 auto;
                        text-align: initial;
                        font-size: 2.7rem;
                        line-height: 1.2;
                    }

                    #text {
                        margin-top: 1rem;
                        text-align: initial;
                        line-height: 1.7;
                    }

                    #container_button {
                        width: 80%;
                        margin: 1rem auto 0;
                        justify-content: flex-start;

                        #chrome_button {
                            margin-right: 1rem;
                        }
                    }
                }

                #container_hero_image {
                    #hero_image {
                        // opacity: 0;
                    }

                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}
