// VALUES
@import './mixins';
$width_tab_content_image: 85%;

#main_content {
    #features_section {

        #features_title {
            @include text(#1C2141, 1.5rem, 600, 1.5, center);
            margin-bottom: .5rem;
        }

        #features_text {
            @include text(#A6A6B2, 1rem, 400, 2, center);
            width: 80%;
            margin: auto;
        }

            #tabs {
            margin: 3rem 0 0 0;
            padding: 0 2rem;

                .tab {
                    @include text(#919197, 1rem, 600, 1, center);
                    letter-spacing: 1px;
                    font-weight: 400;
                    position: relative;
                    margin: 0;
                    padding: 1.5rem 0;
                    border-top: 1.7px solid #EEEFF4;
                    cursor: pointer;
                    transition: all ease-in-out .3s;

                    &:last-child {
                    border-bottom: 1.7px solid #EEEFF4;
                    }

                    &:hover {
                        color: $soft_red;
                    }
                }

                .tab.active{
                    color: #605F73;
                    font-weight: 500;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        border-bottom: 4.7px solid $soft_red;
                        width: 40%;
                        margin: auto;
                    }
                }
            } // #tabs

         #container_tab_content {
            width: 100%;

            #content_tab_content {
                display: flex;
                flex-direction: column;
                margin: 5rem 0 0 0;

                #container_image_tab_content {
                    position: relative;
                    padding-bottom: 2rem;

                    &::before {
                        @include absolute_element(left, 75%, 85%);
                    }

                    #image_tab_content {
                        display: block;
                        width: $width_tab_content_image;
                        margin: auto;
                    }
                }

                #container_text_tab_content {                
                    #title_tab_content {
                    @include text(#242A3F, 1.4rem, 600, 1.5, center);
                    margin: 3rem 0 1.5rem 0;
                    }
        
                    #text_tab_content {
                    @include text(#A6A6B2, 1rem, 400, 1.7, center);
                    width: 85%;
                    margin: auto;   
                    }

                    #button_text_tab_content {
                        @include button($soft_blue, 6px, #fff, .9rem, .9rem 1.5rem);
                        display: none;
                        margin-top: 2rem;
                    }
                }

            } // #tab_content
         }

    } // #features_section

    #download_section {
        margin-top: 9rem;

        #title_download_section {
            @include text(#242A3F, 1.4rem, 600, 1.5, center);
            margin-bottom: .5rem
        }

        #text_download_section {
            @include text(#A6A6B2, 1rem, 400, 1.7, center);
            width: 85%;
            margin: auto;   
        }

        #container_cards_download_section {
            .card {
                position: relative;
                background-color: #fff;
                width: 75%;
                margin: 3rem auto 0 auto;
                padding: 3rem 0 2rem;
                border-radius: 15px;
                box-shadow: 0px 15px 15px -6px rgba(0, 0, 0, .1);

                .image_card {
                    display: block;
                    width: 37%;
                    margin: 0 auto 2rem;
                }

                .title_card {
                    @include text(#242A3F, 1.2rem, 600, 1, center);
                    margin-bottom: .8rem
                }

                .version_card {
                    @include text(#A6A6B2, .9rem, 400, 1, center);
                    margin-bottom: 2rem;
                }

                .image_dots_card {
                    width: 100%;
                }

                .button_card {
                    @include button($soft_blue, 5px, #fff, .9rem, .9rem 1rem);
                    display: block;
                    width: 80%;
                    margin: 1.3rem auto 0;

                    &:hover {
                        background-color: transparent;
                        color: $soft_blue;
                        border-color: $soft_blue;
                    }
                }
            }
        }
     } // #download_section

     #faq_section {
        margin: 9rem 0;

        #title_faq_section {
            @include text(#242A3F, 1.5rem, 600, 1, center);
            width: 60%;
            margin: 0 auto 2rem;
        }

        #text_faq_section {
            @include text(#A6A6B2, .9rem, 400, 1.5, center);
            width: 90%;
            margin: 0 auto 2rem;
        }

        #container_questions {
            margin: 3rem 0 6rem;

            .accordion {
                transition: all ease-in-out .3s;
                cursor: pointer;

                .accordion_item {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 85%;
                    margin: auto;
                    padding: 1.5rem 0;
                    border-bottom: 1.7px solid #EEEFF4;

                    .title_accordion {
                        @include text(#242A3F, 1rem, 400, 1, center);
                    }

                    .arrow_icon_accordion {
                        transition: all ease-in-out .3s;
                    }
                }

                .accordion_content {
                    width: 85%;
                    margin: auto;
                    padding: 1.5rem 0;
                    @include text(#A6A6B2, .9rem, 400, 2, left);
                }
            }

            .accordion.active {
                .accordion_item {
                    .arrow_icon_accordion {
                        transform: rotate(180deg);
                        path {
                            stroke: #EB5E59;
                        }
                    }
                }
            }

            .button_container_questions {
                @include button($soft_blue, 6px, #fff, .9rem, .8rem 1.6rem);
                margin: 3rem auto 0;

                &:hover {
                    background-color: transparent;
                    color: $soft_blue;
                    border-color: $soft_blue;
                }
            }
        } // #container_questions
    } // #faq_section

    #above_footer_section {
        padding: 3rem 0 2.5rem;
        background-color: $soft_blue;

        #above_title_above_footer_section {
            @include text(#fff, .9rem, 400, 1, center);
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 1rem;
        }

        #title_above_footer_section {
            @include text(#fff, 1.5rem, 400, 1, center);
            width: 80%;
            margin: 0 auto 2rem;
        }

        #form_above_footer_section {

            #input_wrapper_above_footer_section {
                position: relative;

                #input_above_footer_section {
                    outline: none;
                    padding: .8rem;
                    border: none;
                    border-radius: 5px;
                    display: block;
                    width: 90%;
                    margin: 0 auto;
                    font-size: 1rem;
                }

                #input_above_footer_section.error_input {
                    border: 2px solid $soft_red;
                }

                #icon_error_input {
                    position: absolute;
                    right: 8%;
                    top: 18%;
                }

                #error_input_above_footer_section {
                    display: block;
                    width: 90%;
                    margin: auto;
                    background-color: $soft_red;
                    color: #fff;
                    font-size: .64rem;
                    font-weight: 400;
                    padding: .3rem 0 .3rem 1rem;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    position: relative;
                    top: -3px;
                }

                
            }
    
            #button_above_footer_section {
                @include button($soft_red, 6px, #fff, .9rem, .8rem 0);
                width: 90%;
                margin: 1rem auto;

                &:hover {
                    background-color: #fff;
                    color: $soft_red;
                    border-color: $soft_red;
                }
            }
        }
    } // #above_footer_section

    #footer {
        padding: 2rem 0;
        background-color: $dark_blue;
        color: #fff;

        #logo_footer {
            display: block;
            width: 40%;
            margin: 0 auto 2rem;
        }

        #menu_footer {
            li {
                @include text(#fff, 1rem, 400, 2.7, center);
                text-transform: uppercase;
                transition: all ease-in-out .3s;

                &:hover {
                    color: $soft_red;
                }
            }
        }

        #container_social_medias {
            width: max-content;
            margin: 2rem auto 0 auto;

            .social_media  {
                path {
                    transition: all ease-in-out .3s;

                    &:hover {
                        fill: $soft_red;
                    }
                }
            }

            .social_media:not(.social_media:last-child) {
                margin-right: 2rem;
            }
        }
    } // #footer

} // #main_content






// DESKTOP
@media screen and (min-width: 1000px) {
    #main_content {
        #features_section {
            // width: $width_content;
            margin: 10rem auto 0 auto;
            position: relative;

            #features_title {
                font-size: 2rem;
            }

            #features_text {
                width: 30%;
                margin: auto;
                font-size: 1.1rem;
                line-height: 1.7;
            }

            #tabs {
                display: flex;
                width: max-content;
                margin: 3rem auto 0 auto;
                padding: 0;
                border-bottom: 1.7px solid #EEEFF4;

                .tab {
                    border: none !important;
                    padding: 1.5rem 1.5rem;
                }

                .tab.active {
                    &::after {
                        width: 100%;
                    }
                }
            }

            #container_tab_content {
                width: 100%;

                #content_tab_content {
                    flex-direction: row;
                    max-height: 490px;

                    #container_image_tab_content {
                        flex-basis: 50%;
                        padding-bottom: 5rem;

                        #image_tab_content {
                            width: 55%;
                            float: right;
                        }

                        &::before {
                            width: 91%;
                            height: 80%;
                        }
                    }

                    #container_text_tab_content {
                        flex-basis: 50%;
                        padding-left: 6.5rem;

                        #title_tab_content {
                            text-align: initial;
                            font-size: 2rem;
                        }

                        #text_tab_content {
                            text-align: initial;
                            font-size: 1.1rem;
                            margin: 0;
                            width: 65%;
                        }

                        #button_text_tab_content {
                            display: block;

                            &:hover {
                                background-color: transparent;
                                color: $soft_blue;
                                border: 2px solid $soft_blue;
                            }
                        }
                    }
                }
            }

        } // #features_section

        #download_section {
            #title_download_section {
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            #text_download_section {
                width: 35%;
                margin: auto;
            }

            #container_cards_download_section {
                display: flex;
                justify-content: center;
                align-items: center;

                .card {
                    width: 290px;
                    margin: 0;

                    &:nth-child(2) {
                        margin-top: 6rem;
                    }

                    
                    &:nth-child(3) {
                        margin-top: 12rem;
                    }
                }

                .card:not(.card:last-child) {
                    margin-right: 2rem;
                }
            }
        }// #download_section

        #faq_section {
            #title_faq_section {
                font-size: 2rem;
            }

            #text_faq_section {
                width: 35%;
                margin: auto;
                font-size: 1.1rem;
            }

            #container_questions {
                width: 37%;
                margin: 3rem auto 0;

                .accordion {
                    .accordion_item {
                        width: 100%;

                        .title_accordion {
                            font-size: 1.2rem;
                        }
                    }

                    .accordion_content {
                        width: 100%;
                    }
                }
            } // #container_questions
        } // #faq_section

        #above_footer_section {

            padding: 4rem 0 4rem;

            #above_footer_section {
                margin-bottom: 1.5rem;
            }

            #title_above_footer_section {
                font-size: 2rem;
                width: 30%;
                margin: 0 auto 2rem auto;
            }

            #form_above_footer_section {
                display: flex;
                justify-content: center;
                align-items: baseline;

                #input_wrapper_above_footer_section {
                    position: relative;
                    width: 18%;
                    margin: 0 1rem 0;

                    #input_above_footer_section {
                        width: 100%;
                        margin: 0;

                        &::placeholder {
                            font-size: .8rem;
                            color: #D1D1D3;
                        }
                    }

                    #icon_error_input {
                        position: absolute;
                        right: 12px;
                        top: 18%;
                    }

                    #error_input_above_footer_section {
                        display: block;
                        width: 100%;
                        position: relative;
                        top: -3px;
                    }
                }

                #button_above_footer_section {
                    width: max-content;
                    padding: .7rem 1.5rem;
                    margin: 0;
                }
            }
        } // #above_footer_section

        #footer {
            display: flex;
            justify-content: space-around;
            align-items: center;

            #left {
                display: flex;
                align-items: center;
                flex-basis: 50%;

                #logo_footer {
                    margin: 0;
                    width: 20%;
                }
                
                #menu_footer {
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    margin-left: 5rem;

                    li {
                        font-size: .9rem;
                        letter-spacing: 2px;
                        cursor: pointer;
                    }
    
                    li:not(li:last-child) {
                        padding-right: 1.5rem;
                    }
                }
            }


            #container_social_medias {
                margin: 0;

                .social_media {
                    padding: 0;
                    cursor: pointer;
                }

                .social_media:not(.social_media:last-child) {
                    margin-right: 2.5rem;
                }
            }
        } // #footer

    } // #main_content
}

@media screen and (max-width: 1500px) {
    #main_content {
      #container_tab_content {
          #container_image_tab_content {
              #image_tab_content {
                  width: 70% !important;
              }
          }
      }  
    }
}