#header {
  width: 100%;
  margin-bottom: 10rem;
  box-sizing: border-box;
}
#header #menu_mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2.5rem 2rem 5rem;
}
#header #menu_mobile #menu_toggle {
  width: 20px;
  height: 15px;
  cursor: pointer;
}
#header #menu_mobile #overlay {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(229deg, 31%, 21%, 0.95);
}
#header #menu_mobile #overlay #content_mobile_menu {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2.7rem;
  overflow-y: scroll;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
}
#header #menu_mobile #overlay #content_mobile_menu #header_mobile_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.7rem;
}
#header #menu_mobile #overlay #content_mobile_menu #header_mobile_menu #logo {
  width: 155px;
}
#header #menu_mobile #overlay #content_mobile_menu #header_mobile_menu #close {
  width: 18px;
  cursor: pointer;
}
#header #menu_mobile #overlay #content_mobile_menu #navigation_mobile_menu #links_mobile_menu {
  margin-bottom: 1.8rem;
}
#header #menu_mobile #overlay #content_mobile_menu #navigation_mobile_menu #links_mobile_menu .link_mobile_menu {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 3.5;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  list-style-type: none;
  border-top: 0.001rem solid hsl(229deg, 8%, 60%);
}
#header #menu_mobile #overlay #content_mobile_menu #navigation_mobile_menu #links_mobile_menu .link_mobile_menu:last-child {
  border-bottom: 0.001rem solid hsl(229deg, 8%, 60%);
}
#header #menu_mobile #overlay #content_mobile_menu #button_mobile_menu {
  display: block;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 8px;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem 0;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  border: 2px solid #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  width: 100%;
}
#header #menu_mobile #overlay #content_mobile_menu #container_social_medias {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  min-height: 125px;
}
#header #menu_mobile #overlay #content_mobile_menu #container_social_medias .social_media {
  padding: 1rem;
}
#header #hero_section #content_hero_section {
  display: flex;
  flex-direction: column;
}
#header #hero_section #content_hero_section #container_hero_image {
  position: relative;
}
#header #hero_section #content_hero_section #container_hero_image #hero_image {
  display: block;
  margin: auto;
}
#header #hero_section #content_hero_section #container_hero_image::before {
  z-index: -1;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  width: 75%;
  height: 80%;
  background-color: hsl(231deg, 69%, 60%);
}
#header #hero_section #content_hero_section #container_hero_description #description_title {
  color: #1C2141;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  margin-top: 3rem;
}
#header #hero_section #content_hero_section #container_hero_description #text {
  color: #A6A6B2;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  text-align: center;
  width: 80%;
  margin: auto;
}
#header #hero_section #content_hero_section #container_hero_description #container_button {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}
#header #hero_section #content_hero_section #container_hero_description #container_button #chrome_button {
  display: block;
  background-color: hsl(231deg, 69%, 60%);
  border: 2px solid hsl(231deg, 69%, 60%);
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  padding: 1rem 1rem;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
#header #hero_section #content_hero_section #container_hero_description #container_button #chrome_button:hover {
  background-color: transparent;
  color: hsl(231deg, 69%, 60%);
  border-color: hsl(231deg, 69%, 60%);
}
#header #hero_section #content_hero_section #container_hero_description #container_button #firefox_button {
  display: block;
  background-color: #F7F7F5;
  border: 2px solid #F7F7F5;
  border-radius: 8px;
  color: #656670;
  font-size: 1rem;
  padding: 1rem 1rem;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  box-shadow: 0px 15px 15px -6px rgba(0, 0, 0, 0.1);
}
#header #hero_section #content_hero_section #container_hero_description #container_button #firefox_button:hover {
  background-color: transparent;
  color: #5D5F6F;
  border-color: #5D5F6F;
}

@media screen and (min-width: 1001px) {
  #header #menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 6rem 6rem;
  }
  #header #menu #right_side {
    display: flex;
    align-items: center;
  }
  #header #menu #right_side #navigation_menu {
    margin-right: 2rem;
  }
  #header #menu #right_side #navigation_menu #links_menu {
    display: flex;
    list-style-type: none;
  }
  #header #menu #right_side #navigation_menu #links_menu .link_menu {
    color: hsl(229deg, 8%, 60%);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.8px;
    padding: 0 1rem;
  }
  #header #menu #right_side #navigation_menu #links_menu .link_menu li {
    transition: all ease-in-out 0.3s;
  }
  #header #menu #right_side #navigation_menu #links_menu .link_menu li:hover {
    color: hsl(0deg, 94%, 66%);
  }
  #header #menu #right_side #button_menu {
    display: block;
    background-color: hsl(0deg, 94%, 66%);
    border: 2px solid hsl(0deg, 94%, 66%);
    border-radius: 8px;
    color: #fff;
    font-size: 1rem;
    padding: 0.7rem 2rem;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  #header #menu #right_side #button_menu:hover {
    background-color: transparent;
    color: hsl(0deg, 94%, 66%);
    border-color: hsl(0deg, 94%, 66%);
  }
  #header #hero_section {
    position: relative;
  }
  #header #hero_section::before {
    z-index: -1;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    width: 37%;
    height: 80%;
    background-color: hsl(231deg, 69%, 60%);
  }
  #header #hero_section #content_hero_section {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  #header #hero_section #content_hero_section #container_hero_description #description_title {
    width: 80%;
    margin: 0 auto;
    text-align: initial;
    font-size: 2.7rem;
    line-height: 1.2;
  }
  #header #hero_section #content_hero_section #container_hero_description #text {
    margin-top: 1rem;
    text-align: initial;
    line-height: 1.7;
  }
  #header #hero_section #content_hero_section #container_hero_description #container_button {
    width: 80%;
    margin: 1rem auto 0;
    justify-content: flex-start;
  }
  #header #hero_section #content_hero_section #container_hero_description #container_button #chrome_button {
    margin-right: 1rem;
  }
  #header #hero_section #content_hero_section #container_hero_image::after {
    display: none;
  }
}

/*# sourceMappingURL=Header.css.map */
