#main_content #features_section #features_title {
  color: #1C2141;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 0.5rem;
}
#main_content #features_section #features_text {
  color: #A6A6B2;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  text-align: center;
  width: 80%;
  margin: auto;
}
#main_content #features_section #tabs {
  margin: 3rem 0 0 0;
  padding: 0 2rem;
}
#main_content #features_section #tabs .tab {
  color: #919197;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
  position: relative;
  margin: 0;
  padding: 1.5rem 0;
  border-top: 1.7px solid #EEEFF4;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
#main_content #features_section #tabs .tab:last-child {
  border-bottom: 1.7px solid #EEEFF4;
}
#main_content #features_section #tabs .tab:hover {
  color: hsl(0deg, 94%, 66%);
}
#main_content #features_section #tabs .tab.active {
  color: #605F73;
  font-weight: 500;
}
#main_content #features_section #tabs .tab.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 4.7px solid hsl(0deg, 94%, 66%);
  width: 40%;
  margin: auto;
}
#main_content #features_section #container_tab_content {
  width: 100%;
}
#main_content #features_section #container_tab_content #content_tab_content {
  display: flex;
  flex-direction: column;
  margin: 5rem 0 0 0;
}
#main_content #features_section #container_tab_content #content_tab_content #container_image_tab_content {
  position: relative;
  padding-bottom: 2rem;
}
#main_content #features_section #container_tab_content #content_tab_content #container_image_tab_content::before {
  z-index: -1;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  width: 75%;
  height: 85%;
  background-color: hsl(231deg, 69%, 60%);
}
#main_content #features_section #container_tab_content #content_tab_content #container_image_tab_content #image_tab_content {
  display: block;
  width: 85%;
  margin: auto;
}
#main_content #features_section #container_tab_content #content_tab_content #container_text_tab_content #title_tab_content {
  color: #242A3F;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  margin: 3rem 0 1.5rem 0;
}
#main_content #features_section #container_tab_content #content_tab_content #container_text_tab_content #text_tab_content {
  color: #A6A6B2;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  text-align: center;
  width: 85%;
  margin: auto;
}
#main_content #features_section #container_tab_content #content_tab_content #container_text_tab_content #button_text_tab_content {
  display: block;
  background-color: hsl(231deg, 69%, 60%);
  border: 2px solid hsl(231deg, 69%, 60%);
  border-radius: 6px;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.9rem 1.5rem;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  display: none;
  margin-top: 2rem;
}
#main_content #download_section {
  margin-top: 9rem;
}
#main_content #download_section #title_download_section {
  color: #242A3F;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 0.5rem;
}
#main_content #download_section #text_download_section {
  color: #A6A6B2;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  text-align: center;
  width: 85%;
  margin: auto;
}
#main_content #download_section #container_cards_download_section .card {
  position: relative;
  background-color: #fff;
  width: 75%;
  margin: 3rem auto 0 auto;
  padding: 3rem 0 2rem;
  border-radius: 15px;
  box-shadow: 0px 15px 15px -6px rgba(0, 0, 0, 0.1);
}
#main_content #download_section #container_cards_download_section .card .image_card {
  display: block;
  width: 37%;
  margin: 0 auto 2rem;
}
#main_content #download_section #container_cards_download_section .card .title_card {
  color: #242A3F;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  margin-bottom: 0.8rem;
}
#main_content #download_section #container_cards_download_section .card .version_card {
  color: #A6A6B2;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  margin-bottom: 2rem;
}
#main_content #download_section #container_cards_download_section .card .image_dots_card {
  width: 100%;
}
#main_content #download_section #container_cards_download_section .card .button_card {
  display: block;
  background-color: hsl(231deg, 69%, 60%);
  border: 2px solid hsl(231deg, 69%, 60%);
  border-radius: 5px;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.9rem 1rem;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  display: block;
  width: 80%;
  margin: 1.3rem auto 0;
}
#main_content #download_section #container_cards_download_section .card .button_card:hover {
  background-color: transparent;
  color: hsl(231deg, 69%, 60%);
  border-color: hsl(231deg, 69%, 60%);
}
#main_content #faq_section {
  margin: 9rem 0;
}
#main_content #faq_section #title_faq_section {
  color: #242A3F;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  width: 60%;
  margin: 0 auto 2rem;
}
#main_content #faq_section #text_faq_section {
  color: #A6A6B2;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  width: 90%;
  margin: 0 auto 2rem;
}
#main_content #faq_section #container_questions {
  margin: 3rem 0 6rem;
}
#main_content #faq_section #container_questions .accordion {
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
#main_content #faq_section #container_questions .accordion .accordion_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
  padding: 1.5rem 0;
  border-bottom: 1.7px solid #EEEFF4;
}
#main_content #faq_section #container_questions .accordion .accordion_item .title_accordion {
  color: #242A3F;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}
#main_content #faq_section #container_questions .accordion .accordion_item .arrow_icon_accordion {
  transition: all ease-in-out 0.3s;
}
#main_content #faq_section #container_questions .accordion .accordion_content {
  width: 85%;
  margin: auto;
  padding: 1.5rem 0;
  color: #A6A6B2;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 2;
  text-align: left;
}
#main_content #faq_section #container_questions .accordion.active .accordion_item .arrow_icon_accordion {
  transform: rotate(180deg);
}
#main_content #faq_section #container_questions .accordion.active .accordion_item .arrow_icon_accordion path {
  stroke: #EB5E59;
}
#main_content #faq_section #container_questions .button_container_questions {
  display: block;
  background-color: hsl(231deg, 69%, 60%);
  border: 2px solid hsl(231deg, 69%, 60%);
  border-radius: 6px;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.8rem 1.6rem;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  margin: 3rem auto 0;
}
#main_content #faq_section #container_questions .button_container_questions:hover {
  background-color: transparent;
  color: hsl(231deg, 69%, 60%);
  border-color: hsl(231deg, 69%, 60%);
}
#main_content #above_footer_section {
  padding: 3rem 0 2.5rem;
  background-color: hsl(231deg, 69%, 60%);
}
#main_content #above_footer_section #above_title_above_footer_section {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
#main_content #above_footer_section #title_above_footer_section {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  width: 80%;
  margin: 0 auto 2rem;
}
#main_content #above_footer_section #form_above_footer_section #input_wrapper_above_footer_section {
  position: relative;
}
#main_content #above_footer_section #form_above_footer_section #input_wrapper_above_footer_section #input_above_footer_section {
  outline: none;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  display: block;
  width: 90%;
  margin: 0 auto;
  font-size: 1rem;
}
#main_content #above_footer_section #form_above_footer_section #input_wrapper_above_footer_section #input_above_footer_section.error_input {
  border: 2px solid hsl(0deg, 94%, 66%);
}
#main_content #above_footer_section #form_above_footer_section #input_wrapper_above_footer_section #icon_error_input {
  position: absolute;
  right: 8%;
  top: 18%;
}
#main_content #above_footer_section #form_above_footer_section #input_wrapper_above_footer_section #error_input_above_footer_section {
  display: block;
  width: 90%;
  margin: auto;
  background-color: hsl(0deg, 94%, 66%);
  color: #fff;
  font-size: 0.64rem;
  font-weight: 400;
  padding: 0.3rem 0 0.3rem 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  top: -3px;
}
#main_content #above_footer_section #form_above_footer_section #button_above_footer_section {
  display: block;
  background-color: hsl(0deg, 94%, 66%);
  border: 2px solid hsl(0deg, 94%, 66%);
  border-radius: 6px;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.8rem 0;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  width: 90%;
  margin: 1rem auto;
}
#main_content #above_footer_section #form_above_footer_section #button_above_footer_section:hover {
  background-color: #fff;
  color: hsl(0deg, 94%, 66%);
  border-color: hsl(0deg, 94%, 66%);
}
#main_content #footer {
  padding: 2rem 0;
  background-color: hsl(229deg, 31%, 21%);
  color: #fff;
}
#main_content #footer #logo_footer {
  display: block;
  width: 40%;
  margin: 0 auto 2rem;
}
#main_content #footer #menu_footer li {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.7;
  text-align: center;
  text-transform: uppercase;
  transition: all ease-in-out 0.3s;
}
#main_content #footer #menu_footer li:hover {
  color: hsl(0deg, 94%, 66%);
}
#main_content #footer #container_social_medias {
  width: max-content;
  margin: 2rem auto 0 auto;
}
#main_content #footer #container_social_medias .social_media path {
  transition: all ease-in-out 0.3s;
}
#main_content #footer #container_social_medias .social_media path:hover {
  fill: hsl(0deg, 94%, 66%);
}
#main_content #footer #container_social_medias .social_media:not(.social_media:last-child) {
  margin-right: 2rem;
}

@media screen and (min-width: 1000px) {
  #main_content #features_section {
    margin: 10rem auto 0 auto;
    position: relative;
  }
  #main_content #features_section #features_title {
    font-size: 2rem;
  }
  #main_content #features_section #features_text {
    width: 30%;
    margin: auto;
    font-size: 1.1rem;
    line-height: 1.7;
  }
  #main_content #features_section #tabs {
    display: flex;
    width: max-content;
    margin: 3rem auto 0 auto;
    padding: 0;
    border-bottom: 1.7px solid #EEEFF4;
  }
  #main_content #features_section #tabs .tab {
    border: none !important;
    padding: 1.5rem 1.5rem;
  }
  #main_content #features_section #tabs .tab.active::after {
    width: 100%;
  }
  #main_content #features_section #container_tab_content {
    width: 100%;
  }
  #main_content #features_section #container_tab_content #content_tab_content {
    flex-direction: row;
    max-height: 490px;
  }
  #main_content #features_section #container_tab_content #content_tab_content #container_image_tab_content {
    flex-basis: 50%;
    padding-bottom: 5rem;
  }
  #main_content #features_section #container_tab_content #content_tab_content #container_image_tab_content #image_tab_content {
    width: 55%;
    float: right;
  }
  #main_content #features_section #container_tab_content #content_tab_content #container_image_tab_content::before {
    width: 91%;
    height: 80%;
  }
  #main_content #features_section #container_tab_content #content_tab_content #container_text_tab_content {
    flex-basis: 50%;
    padding-left: 6.5rem;
  }
  #main_content #features_section #container_tab_content #content_tab_content #container_text_tab_content #title_tab_content {
    text-align: initial;
    font-size: 2rem;
  }
  #main_content #features_section #container_tab_content #content_tab_content #container_text_tab_content #text_tab_content {
    text-align: initial;
    font-size: 1.1rem;
    margin: 0;
    width: 65%;
  }
  #main_content #features_section #container_tab_content #content_tab_content #container_text_tab_content #button_text_tab_content {
    display: block;
  }
  #main_content #features_section #container_tab_content #content_tab_content #container_text_tab_content #button_text_tab_content:hover {
    background-color: transparent;
    color: hsl(231deg, 69%, 60%);
    border: 2px solid hsl(231deg, 69%, 60%);
  }
  #main_content #download_section #title_download_section {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  #main_content #download_section #text_download_section {
    width: 35%;
    margin: auto;
  }
  #main_content #download_section #container_cards_download_section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #main_content #download_section #container_cards_download_section .card {
    width: 290px;
    margin: 0;
  }
  #main_content #download_section #container_cards_download_section .card:nth-child(2) {
    margin-top: 6rem;
  }
  #main_content #download_section #container_cards_download_section .card:nth-child(3) {
    margin-top: 12rem;
  }
  #main_content #download_section #container_cards_download_section .card:not(.card:last-child) {
    margin-right: 2rem;
  }
  #main_content #faq_section #title_faq_section {
    font-size: 2rem;
  }
  #main_content #faq_section #text_faq_section {
    width: 35%;
    margin: auto;
    font-size: 1.1rem;
  }
  #main_content #faq_section #container_questions {
    width: 37%;
    margin: 3rem auto 0;
  }
  #main_content #faq_section #container_questions .accordion .accordion_item {
    width: 100%;
  }
  #main_content #faq_section #container_questions .accordion .accordion_item .title_accordion {
    font-size: 1.2rem;
  }
  #main_content #faq_section #container_questions .accordion .accordion_content {
    width: 100%;
  }
  #main_content #above_footer_section {
    padding: 4rem 0 4rem;
  }
  #main_content #above_footer_section #above_footer_section {
    margin-bottom: 1.5rem;
  }
  #main_content #above_footer_section #title_above_footer_section {
    font-size: 2rem;
    width: 30%;
    margin: 0 auto 2rem auto;
  }
  #main_content #above_footer_section #form_above_footer_section {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  #main_content #above_footer_section #form_above_footer_section #input_wrapper_above_footer_section {
    position: relative;
    width: 18%;
    margin: 0 1rem 0;
  }
  #main_content #above_footer_section #form_above_footer_section #input_wrapper_above_footer_section #input_above_footer_section {
    width: 100%;
    margin: 0;
  }
  #main_content #above_footer_section #form_above_footer_section #input_wrapper_above_footer_section #input_above_footer_section::placeholder {
    font-size: 0.8rem;
    color: #D1D1D3;
  }
  #main_content #above_footer_section #form_above_footer_section #input_wrapper_above_footer_section #icon_error_input {
    position: absolute;
    right: 12px;
    top: 18%;
  }
  #main_content #above_footer_section #form_above_footer_section #input_wrapper_above_footer_section #error_input_above_footer_section {
    display: block;
    width: 100%;
    position: relative;
    top: -3px;
  }
  #main_content #above_footer_section #form_above_footer_section #button_above_footer_section {
    width: max-content;
    padding: 0.7rem 1.5rem;
    margin: 0;
  }
  #main_content #footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #main_content #footer #left {
    display: flex;
    align-items: center;
    flex-basis: 50%;
  }
  #main_content #footer #left #logo_footer {
    margin: 0;
    width: 20%;
  }
  #main_content #footer #left #menu_footer {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
  }
  #main_content #footer #left #menu_footer li {
    font-size: 0.9rem;
    letter-spacing: 2px;
    cursor: pointer;
  }
  #main_content #footer #left #menu_footer li:not(li:last-child) {
    padding-right: 1.5rem;
  }
  #main_content #footer #container_social_medias {
    margin: 0;
  }
  #main_content #footer #container_social_medias .social_media {
    padding: 0;
    cursor: pointer;
  }
  #main_content #footer #container_social_medias .social_media:not(.social_media:last-child) {
    margin-right: 2.5rem;
  }
}
@media screen and (max-width: 1500px) {
  #main_content #container_tab_content #container_image_tab_content #image_tab_content {
    width: 70% !important;
  }
}

/*# sourceMappingURL=MainContent.css.map */
